:root {
  --main-font-family: 'Roboto', sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-color: #ffffff;
  --fill-color: #afb1b8;
}
/* Body */
body {
  font-family: var(--main-font-family);
  color: var(--title-text-color);
  width: 1600px;
  outline: 3px solid #b1b1bb1b;
}

/* Links */
.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

a.email,
a.phone {
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* Header */

.header {
  padding-left: 215px;
  padding-right: 215px;
}

.nav_menu .nav_li + .nav_li {
  margin-left: 50px;
}

.nav_menu > .nav_li:nth-child(1) {
  margin-left: 93px;
}

.nav_menu > li:hover,
.nav_menu > li:focus {
  color: var(--accent-color);
  cursor: pointer;
}

/* Logo */

.logo {
  margin: 0px;
}

.logo > a {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.span-logo {
  color: var(--accent-color);
}
/* nav_menu  */

.nav_menu {
  margin: 0px;
}

.nav_menu li {
  display: inline-block;
  font-family: var(--main-font-family);
  line-height: 1.14;
  font-size: 14px;
  color: var(--main-title-color);
  letter-spacing: 0.02em;
  font-weight: 500;
}

/* Main */

.main-section {
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;

  background-color: #2f303a;
  text-align: center;
}

/* Text h2 h3  */

.section-block {
  text-align: center;
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.main-text {
  width: 696px;
  margin: 0px auto 30px auto;

  color: var(--button-color);

  font-size: 44px;
  line-height: 1.4;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-family: var(--main-font-family);
}

.cont-about-us h3 {
  font-family: var(--main-font-family);
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.cont-employee h3 {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.section-title h2 {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

/* Buttons */

.button {
  width: 216px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--button-color);
  font-size: 16px;
  font-family: var(--main-font-family);
  border-radius: 4px;
  border: none;
}

.cont-about-us p {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.cont-employee p {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

/* Footer */

.footer-logo > a {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--button-color);
  text-decoration: none;
}

.cont-footer {
  background-color: #2f303a;
}

.location {
  font-family: var(--main-font-family);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--button-color);
}

/* Flex */

.container {
  display: flex;
  align-items: center;
  height: 80px;
}

.header-menu {
  margin-left: auto;
}

.header-menu > .link + .link {
  margin-left: 50px;
}
