:root {
  --main-font-family: 'Roboto', sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-color: #ffffff;
  --fill-color: #afb1b8;
  --main-font-size: 16px;
}

/* Body */
body {
  font-family: var(--main-font-family);
  color: var(--title-text-color);
}

h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

/* Links */
a {
  text-decoration: none;
}

.email:focus,
.phone:focus {
  color: var(--accent-color);
}

a.email,
a.phone {
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Header */

.header {
  padding-left: 215px;
  padding-right: 215px;
  border-bottom: 1px solid var(--button-color);
}

.nav-menu li:hover,
.nav-menu li:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.header-menu div .email:hover,
.header-menu div .phone:hover {
  color: var(--accent-color);
}

.header-menu div .email:hover + svg path,
.header-menu div .phone:hover + svg path {
  fill: var(--accent-color);
}

/* Logo */

.logo a {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.span-logo {
  color: var(--accent-color);
}

/* nav_menu  */

.nav-menu {
  margin-left: 93px;
  display: flex;
  min-width: 281px;
  justify-content: space-between;
}

.nav-menu li {
  display: inline-block;
  font-family: var(--main-font-family);
  line-height: 1.14;
  font-size: 14px;
  color: var(--main-title-color);
  letter-spacing: 0.02em;
  font-weight: 500;
}

.nav-li {
  position: relative;
}

.nav-li:nth-child(1)::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4px;
  margin-bottom: -28px;
  background-color: var(--accent-color);
}

/* Main */

.overlay {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgb(47, 48, 58, 0.4), rgb(47, 48, 58, 0.4)),
    url('../images/background.jpeg');
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}

/* Text h2 h3  */

.main-text {
  width: 696px;
  margin: 0px auto 30px auto;

  color: var(--button-color);

  font-size: 44px;
  line-height: 1.4;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-family: var(--main-font-family);
}

.heading {
  margin: 0px;
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
}

.cont-about-us h3 {
  color: var(--title-text-color);

  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: var(--main-font-family);

  margin-bottom: 10px;
}

.cont-employee h3 {
  color: var(--title-text-color);

  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: var(--main-font-size);
  letter-spacing: 0.03em;
  text-align: center;
}

.cont-add h3 {
  color: var(--button-color);

  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: var(--main-font-family);
  margin-bottom: 30px;
}

.section-title h2 {
  color: var(--title-text-color);

  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
}

/* Buttons */

.button {
  width: 216px;
  height: 50px;

  color: var(--button-color);

  background-color: var(--accent-color);
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  border-radius: 4px;
  border: none;
}

.cont-about-us {
  display: flex;
  column-gap: 30px;
}

.cont-about-us p {
  color: var(--primary-text-color);

  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}

.cont-employee p {
  color: var(--primary-text-color);

  text-align: center;
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: var(--main-font-size);
  letter-spacing: 0.03em;
}

/* Flex */
/* Header section */
.container {
  width: 1200px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
  height: 80px;
}

.header-menu {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  width: 333px;
}

.header-menu div {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.header-icon {
  margin-right: 10px;
}

.section:not(:first-child) {
  padding: 94px 215px;
}

.section {
  text-align: center;
}

.section ul {
  display: flex;
}

.section:nth-child(4) {
  background-color: #f5f4fa;
}

/* Section cont-about-us */

.cont-about-us li {
  text-align: left;
}

.cont-about-us li:nth-child(2) p {
  width: 270px;
}

.cont-about-us li:nth-child(3) p {
  width: 270px;
}

.back-icon {
  padding: 25px 100px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;

  margin-bottom: 30px;
}

/* Section our-works */

.ul-img-work {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: space-evenly;
}

.ul-img-work li + li {
  margin-left: 30px;
}

.ul-img-work li {
  position: relative;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  right: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--button-color);
  font-size: 14px;
}

/* Section employee */

.cont-employee {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  column-gap: 30px;
}

.cont-employee li {
  text-align: center;
  background-color: var(--button-color);
  max-width: 270px;
}

.cont-employee li p {
  padding: 10px 70px 16px 70px;
  white-space: nowrap;
}

.cont-employee li img {
  margin-bottom: 30px;
}

.cont-icons {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 30px;
}

.cont-icons li .back-social {
  display: block;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  padding: 12px 12px;
}

.cont-icons li .back-social:hover {
  background-color: #2196f3;
}

.cont-icons li .back-social:hover svg {
  fill: #ffffff;
}

.cont-icons li .back-social svg {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

/* Section clients */

.cont-clients {
  display: flex;
  column-gap: 30px;
  justify-content: space-evenly;
}

.cont-clients li {
  width: 170px;
  height: 92px;

  border: 2px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont-clients li:hover {
  border: 2px solid var(--accent-color);
  fill: var(--accent-color);
}

.cont-clients li:hover svg path {
  fill: inherit;
}

/* Footer */

.footer {
  background-color: #2f303a;
  height: 252px;
  padding: 60px 215px;
}

.location {
  font-family: var(--main-font-family);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--button-color);
}

.container-footer .logo a {
  color: var(--button-color);
}

.container-footer .logo {
  margin-bottom: calc(20px - 9px);
}

.footer .container {
  display: flex;
  column-gap: 70px;
}

.container-footer {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.add-icons {
  display: flex;
  column-gap: 10px;
}

.add-icons li .back-social svg g {
  fill: var(--button-color);
}

.add-icons li .back-social {
  display: block;
  width: 44px;
  height: 44px;
  background-color: #44454e;
  border-radius: 50%;
  padding: 12px 12px;
}

.add-icons li:nth-child(2) .back-social {
  display: block;
  width: 44px;
  height: 44px;
  background-color: var(--accent-color);
  border-radius: 50%;
  padding: 12px 12px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms ease-in;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: relative;
  text-align: end;
  padding: 8px 8px 0 0;
  width: 528px;
  height: 581px;
  background-color: var(--button-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms ease-in;
}

.backdrop-button {
  padding: 8px 8px 0 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url(../images/icon/close.svg);
}

.form-cont {
  display: flex;
  gap: 0 12px;
}

.form-subscribe h2 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--button-color);
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.subscribe-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--button-color);
  background-color: transparent;
  width: 358px;
  height: 58px;
  font-size: 18px;
  padding-left: 16px;
}

.subscribe-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 28px;
  gap: 0 10px;
  width: 200px;
  height: 58px;
  color: var(--button-color);
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 30px;
  background-color: var(--accent-color);
  cursor: pointer;
}

.subscribe-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
