@import url(reset.css);

a {
  text-decoration: none;
}

body {
  font-family: 'Red Hat Display', sans-serif;
}

header {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  align-items: center;
}

.wrapper {
  width: 100%;
}

nav ul {
  display: flex;
  column-gap: 40px;
  position: relative;
  right: 100px;
}

.header-menu {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.logo {
  font-size: 26px;
}

.span-logo {
  color: #2196f3;
}
