@import url(reset.css);

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 2346px;
}

header {
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  align-items: center;
}

.wrapper {
  width: 100%;
}

nav ul {
  display: flex;
  column-gap: 40px;
  position: relative;
  right: 100px;
}

.header-menu {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.logo {
  font-size: 26px;
  color: #000000;
}

.span-logo {
  color: #2196f3;
}

.logo a {
  color: #000000;
}

.email {
  color: #2196f3;
}

.phone {
  font-family: 'Roboto', sans-serif;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.section-one {
  width: 100%;
  height: 600px;
  flex-shrink: 0;
  background: #2f303a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.button-1 {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 216px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.button-1 a {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}

.section-two {
  display: flex;
  justify-content: center;
}

.cont-section-two {
  margin-top: 94px;
  /* max-width: max-content; */
  height: 98px;
  flex-shrink: 0;
  display: flex;
  column-gap: 30px;
}

.cont-section-two dt {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.cont-section-two dd {
  width: 270px;
  height: 48px;
  color: #757575;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
/* СЕКЦІЯ 3 */
.section-three {
  margin-top: 120px;
}

.cont-section-three {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont-section-three h2 {
  text-align: center;
  color: #212121;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.cont-img-work {
  display: flex;
  column-gap: 30px;
}

.section-four {
  margin-top: 94px;
  background: #f5f4fa;
  display: flex;
  justify-content: center;
  height: 648px;
}

.cont-img-team {
  display: flex;
  column-gap: 30px;
  max-width: 1170px;
}

.cont-section-four h2 {
  color: #212121;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-top: 94px;
  margin-bottom: 50px;
}

.figure-one,
.figure-two,
.figure-three,
.figure-four {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

figcaption {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.specialty-one,
.specialty-two,
.specialty-three,
.specialty-four {
  margin-bottom: 30px;
  color: #757575;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}

footer {
  background: #2f303a;
  height: 252px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-left: 215px;
}

.logo-two {
  font-size: 26px;
  color: #000000;
  margin-bottom: 20px;
}

.location {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}

.email-two {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}

.phone-two {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
