/* Footer */

.footer {
  background-color: #2f303a;

  @media screen and (min-width: 480px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 60px 0px;
      padding: 60px 0px;
    }
  }

  @media screen and (min-width: 767px) {
    .container {
      display: grid;
      grid-template-columns: 232px 206px;
      gap: 60px 165px;
      justify-content: center;
    }
  }

  @media screen and (min-width: 1199px) {
    height: 252px;
    .container {
      display: flex;
      flex-direction: row;
      gap: 0 70px;
      align-items: center;
      padding: 60px 215px;
    }
  }
}

.footer__container {
  @extend %main-flexbox;
  max-width: 231px;
  row-gap: 9px;

  .logo {
    margin-bottom: 11px;
  }

  .logo--light a {
    color: $button-color;
  }

  .location {
    width: 231px;
    @extend %basik-text;
    font-style: normal;
    letter-spacing: $main-letter-spacing;
    color: $button-color;
    text-align: center;
  }

  @media screen and (min-width: 480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    .footer__container-about {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px 0;
    }
  }

  @media screen and (min-width: 767px) {
    .footer__container-about {
      align-items: center;
      width: 231px;
    }
  }

  @media screen and (min-width: 1199px) {
    align-items: start;
    .footer__container-about {
      align-items: start;
    }

    .location {
      text-align: left;
    }
  }
}

.footer__container-about {
  .email,
  .phone {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
  }
}

.footer-social {
  text-align: center;
  @media screen and (min-width: 1199px) {
    text-align: start;
  }
}

.footer__social-title {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $button-color;
  font-size: $secondary-font-size;
}

.footer__social-list {
  display: flex;
  column-gap: 10px;
}

.footer__social-item {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px 12px;
  background-color: #44454e;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:hover svg {
    fill: $button-color;
  }

  &:hover {
    background-color: $accent-color;
  }

  & svg {
    fill: $button-color;
  }
}
