/* Body */
body {
  font-family: $main-font-family;
  color: $title-text-color;
}

h1,
h2,
h3 {
  @extend %normalize;
}

p {
  @extend %normalize;
}

ul {
  @extend %normalize;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: none;
}

*:hover {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  text-align: center;
  margin-bottom: 94px;
}

.heading {
  margin: 0px;
  margin-bottom: 50px;
  color: $title-text-color;
  font-family: $main-font-family;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: $main-letter-spacing;
}

a.email,
a.phone {
  @extend %basik-text;
  letter-spacing: $main-letter-spacing;
  color: $primary-text-color;
  font-weight: 500;
}

.email,
.phone {
  &:hover {
    color: $accent-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.email,
.phone {
  &:focus {
    color: $accent-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
