/* Header */
.header {
  border-bottom: 1px solid $fill-color;
}

.header__container {
  display: flex;
  align-items: center;
  height: 80px;
}

.header__menu {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  width: 333px;
}

.header__menu div {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.header__icon {
  margin-right: 10px;
}

.nav__menu .nav__item a {
  color: $title-text-color;
  &:hover,
  &:focus {
    cursor: pointer;
    color: $accent-color;
  }
}

.header__email:hover,
.header__phone:hover {
  color: $accent-color;
}

.header__email:hover + svg path,
.header__phone:hover + svg path {
  fill: $accent-color;
}

/* Logo */

.logo a {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__accent {
  color: $accent-color;
}

/* nav_menu  */
.nav__menu {
  margin-left: 93px;
  display: flex;
  min-width: 281px;
  justify-content: space-between;
}

.nav__menu .nav__item {
  display: inline-block;
  font-family: $main-font-family;
  line-height: 1.14;
  font-size: 14px;
  color: $title-text-color;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.nav__item {
  position: relative;
}

.nav__item:nth-child(2) {
  a {
    color: $accent-color;
  }

  ::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4px;
    margin-bottom: -28px;
    border-radius: 5px;
    background-color: $accent-color;
  }
}
