/* Сlients */

.clients__list {
  display: flex;
  column-gap: 30px;
  justify-content: space-evenly;
}

.clients__item {
  width: 170px;
  height: 92px;
  border: 2px solid $fill-color;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
    border: 2px solid $accent-color;
    fill: $accent-color;
  }
  &:hover svg path {
    fill: inherit;
  }
}
