/* Сlients */

.clients__list {
  @media screen and (min-width: 479px) {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 15px));
    gap: 30px 30px;
  }

  @media screen and (min-width: 767px) {
    grid-template-columns: repeat(3, calc((100% - 4 * 15px) / 3));
  }

  @media screen and (min-width: 1199px) {
    display: flex;
    gap: 30px 0;
    justify-content: space-between;
  }
}

.clients__item {
  display: flex;
  @include flexBox(center, center);
  height: 92px;
  border: 2px solid $fill-color;
  border-radius: $border-radius;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  svg {
    fill: $fill-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover {
    border: 2px solid $accent-color;
    fill: $accent-color;
  }
  &:hover svg {
    fill: $accent-color;
  }

  @media screen and (min-width: 1199px) {
    width: 170px;
  }
}
