/* Header */
.header {
  border-bottom: 1px solid $button-color;
}

.header__container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 479px) {
    justify-content: space-between;
    height: 60px;
  }

  @media screen and (min-width: 767px) {
    height: 80px;
  }

  @media screen and (min-width: 1199px) {
    justify-content: start;
  }
}

.header__contacts {
  @media screen and (min-width: 479px) {
    display: none;
  }

  @media screen and (min-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 9px 0;
  }

  @media screen and (min-width: 1199px) {
    margin-left: auto;
    flex-direction: row;
    gap: 0 30px;
  }
}

.header__contacts div {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.header__icon {
  margin-right: 10px;
}

.nav {
  @media screen and (min-width: 479px) {
    display: none;
  }

  @media screen and (min-width: 767px) {
    display: flex;
  }
}

.nav__menu .nav__item:hover,
.nav__menu .nav__item:focus {
  color: $accent-color;
  cursor: pointer;
}

.nav__menu .nav__item a {
  color: $title-text-color;
}

.header__email:hover,
.header__phone:hover {
  color: $accent-color;
}

.header__email:hover + svg path,
.header__phone:hover + svg path {
  fill: $accent-color;
}

/* Logo */

.logo a {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__accent {
  color: $accent-color;
}

/* nav_menu  */

.nav__menu {
  display: flex;
  justify-content: space-between;
  gap: 0 50px;
  @media screen and (min-width: 1199px) {
    margin-left: 93px;
  }
}

.nav__menu .nav__item {
  display: inline-block;
  font-family: $main-font-family;
  line-height: 1.14;
  font-size: $secondary-font-size;
  color: $title-text-color;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.nav__item {
  position: relative;
  &:hover a {
    color: $accent-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nav__item:nth-child(1) {
  a {
    color: $accent-color;
  }
  ::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4px;
    margin-bottom: -28px;
    border-radius: 5px;
    background-color: $accent-color;
  }
}
