.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms ease-in;
  z-index: 6;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: relative;
  padding: 8px 8px;
  width: 450px;
  height: 609px;
  background-color: $button-color;
  border-radius: $border-radius;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms ease-in;
  text-align: end;
  z-index: 7;
  @media screen and (min-width: 1199px) {
    width: 528px;
    height: 581px;
  }
}

.backdrop__button {
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 30px;
  height: 30px;
  svg {
    width: 11px;
    height: 11px;
    fill: black;
  }

  &:hover svg {
    fill: $accent-color;
  }
}

.modal__title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}
