%normalize {
  padding: 0;
  margin: 0;
}

%main-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

%basik-text {
  font-family: $main-font-family;
  font-size: $secondary-font-size;
  line-height: $main-line-height;
}

%second-text {
  font-family: $main-font-family;
  font-size: $main-font-size;
  line-height: $main-line-height;
}
