$main-font-family: 'Roboto', sans-serif;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$button-color: #ffffff;
$fill-color: #afb1b8;
$main-font-size: 16px;
$secondary-font-size: 14px;
$background-color: #f5f4fa;
$main-line-height: 1.7;
$main-letter-spacing: 0.03em;
$border-radius: 4px;
